@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

h1,
p {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 700;
}

.book-summary ul.summary li.header {
    font-weight: bold !important;
    color: black !important;
}

.chapter {
    padding-left: 20px !important;
}

.book-logo {
    display: flex;
    padding: 18px;
    justify-content: left;
}

.book-logo img {
    height: 33px;
    margin-right: 12px;
    position: relative;
    top: 7px;
    left: 3px;
}

.book-logo:after {
    content: "wiki";
    font-size: 32px;
    box-sizing: border-box;
}
